
body{
	margin: 0;
}
.topnav{
	background-color: black;
	overflow: hidden;
}
 .img{
	float: left;
	width: 55;
}
.topnav ul{
	float :right;
	display : block;
	color:white;
	text-align: right;
	padding: 14px 36px;
	font-size : 29px;
	margin-right : 20px;
}
.w3-button button{
  color: black;
}
.topnav a{
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topnav a:hover{
	background-color: green;
	color: blue;
}
.topnav a:active{
	background-color: grredeen;
	color: blue;
}
.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 10px;
  margin-right: 30px;
  width: 500px;
  height: 30px;
  font-size: 20px;
}

.openNav button{
  color: black;
}

.myTopnav img{
	width:40;
}

   #magnifying-glass {
		 float: left;
      font-size: 30px;
      display: inline-block;
      width: 0.4em;
			margin-top: 15px;
			margin-right: 10px;
      box-sizing: content-box;
      height: 0.4em;
      border: 0.1em solid white;
      position: relative;
      border-radius: 0.35em;

    }
		#magnifying-glass:before {
			float: left;
      content: "";
      display: inline-block;
      position: absolute;
      right: -0.25em;
      bottom: -0.1em;
      border-width: 0;
      background: white;
      width: 0.35em;
      height: 0.08em;
      transform: rotate(45deg);
    }
